.text-link {
  text-decoration: none;
  color: #ffffff;
}

.text-link:hover {
  color: #bdae82;
  cursor: pointer;
  fill: #bdae82;
  transition: all 0.2s ease-in-out;
}

.active {
  fill: #bdae82;
  color: #bdae82;
}

body {
  margin: 0;
  background-color: black;
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: calc(100% - 60px);
  max-width: 1440px;
}

.logo-bird {
  height: 60px;
  width: 60px;
  fill: #ffffff;
}

.logo-bird:hover {
  fill: #bdae82;
}

.logo-bird.active {
  fill: #bdae82;
  transition: all 0.2s ease-in-out;
}

.logo-bird.active:hover {
  fill: #ffffff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 600px;
}

.nav__item:hover {
  color: #bdae82;
  cursor: pointer;
}

.main-container {
  background-image: url(../assets/img/forest.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

.button {
  fill: rgb(154, 142, 105);
  height: 150px;
  width: 150px;
}

.main__button-pause {
  display: none;
}

.main__button-download {
  height: 60px;
  width: 60px;
  padding-top: 30px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: calc(100% - 60px);
  max-width: 1440px;
}

.footer__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.rss-logo {
  fill: #ffffff;
  height: 50px;
  width: 135px;
}
